@mixin font-face($font-family,$font-wight,$font-style,$font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-wight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}
