/* здесь используйте глобальные переменные */
$base-color-text: rgb(0, 0, 0);
$darkGray:rgb(17, 17, 17);
$slateGray:rgb(68, 68, 68);
$whiteColor:rgb(255, 255, 255);
$cloudGray:rgb(242, 242, 242);
$mistGray: rgb(234, 234, 234);
$font-stack: "Lato", "Arial", sans-serif;
$font-display: "Oswald", "Arial", sans-serif;


//  Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
